---
layout: rightnav
title: index
---
{% for post in site.posts limit: 7 %}
<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<p>{{ post.content | truncatewords: 50 }}</p>							
			{% if post.content.size > 450 %}
			<div class="btn-group">
  				<a class="btn btn-primary btn-mini" href="{{ post.url }}">
					Read More &rarr;
				</a>
			</div>
			{% endif %}
		</div>
	</div> <!-- // span12 -->
</div> <!-- // row-fluid -->
{% endfor %}