---
layout: default
title: index
---
<div class="row-fluid">
		<div class="row-fluid">
			<div class="span8">
				{% for post in site.posts limit: 7 %}
				<div class="row-fluid">
					<div class="span12">
						<div class="well">
							<h2><a href="{{ first_post.url }}">{{ post.title }}</a></h2>
			  				<p>{{ post.content | truncate: 450 }}</p>							
							{% if post.content.size > 450 %}
							<div class="btn-group">
				  				<a class="btn" href="{{ post.url }}">
									Read More &raquo;
								</a>
							</div>
							{% endif %}
						</div>
					</div> <!-- // span12 -->
				</div> <!-- // row-fluid -->
				{% endfor %}
			</div>
			<div class="span4">
				{% include blog_history.html %}
			</div>
		</div> <!-- // row-fluid -->
</div>