---
layout: default
title: index
---

<div class="row-fluid">
	
	<div class="span12">
		
		<div class="span7">
			<div class="row-fluid">
				{% for post in site.posts limit: 7 %}
				<div class="span12">
					<div class="well">
						<h2><a href="{{ first_post.url }}">{{ post.title }}</a></h2>
				  		<p>{{ post.content | truncate: 450 }}</p>
						<div class="btn-group">
					  		<a class="btn" href="{{ post.url }}">
								Read More &raquo;
							</a>
						</div>
					</div> <!-- // well -->
				</div> <!-- // span12 -->
				{% endfor %}
			</div>
		</div>

		<div class="well span5">
			<h3 id="purple">Recent blogs:</h3>
			<ul class="recent">
			  {% for post in site.posts limit: 7 %}
			    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
			  {% endfor %}
			</ul>
		</div>		
		
	</div>
</div>