<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
 
  <body>

    {% include nav.html %}
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				{{ content }}
			</div>
		</div>
	</div>		      	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>