<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
 
  <body>

    {% include nav.html %}
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				{{ content }}
			</div>
		</div>
	</div>		      	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
	<!-- Analytics -->
	{% analytics %}
  </body>
</html>