---
layout: rightnav
group: blog
---
<div class="row-fluid">	
	<div class="span11 well">
		<h2 class="post">{{ page.title }}</h1>
		<div>{{ content }}</div>	
	</div>
</div> <!-- // end post layout -->
<div class="row-fluid">
	<div class="span11">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="doxla">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
<div class="row-fluid">
	<div class="span11">
		{% disqus %}
	</div>
</div>